doctype

html(lang= "en")
	meta( charset='utf-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge' )
	meta( name='viewport', content='width=device-width, initial-scale=1.0' )
	meta( name='description', content='Baking Bootstrap Snippets with Jade' )
	link( href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
	link( href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.theme-min.css", rel="stylesheet")
	
	head
		title= title

	body(style="padding-bottom:10rem; padding-top: 5rem" data-spy="scroll" data-target=".navbar" data-offest="50")
		.div
			.container-fuild
				nav(role="navigation", class=["navbar", "navbar-default"])
					.navbar.navbar-default.collapsed( data-spy='affix', data-offset-top='10')
						.container-fuild
							.navbar-header
								.navbar-toggle.collapsed( type="button", data-toggle="collapse", aria-expanded="false", aria-controls="navbar")
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								.navbar-brand()= "WPI Flights"
								.collapse.navbar-collapse(id='resultNavbar')
									.btn-group
										a.btn.btn-info(href="/", type="text", class="inactive") Home
										.btn.btn-info(type='text', class='inactive', color='#ffffff', disabled) Sort by
										if sort == "origin"
											a.btn.btn-primary(href="/sort?sort=price", color='#ffffff', id="price", name="price", value="Price") Price
											a.btn.btn-primary(href="/rawsort?sort=duration", color='#ffffff', id="duration", name="duration", value="Traval Time") Traval Time
										else if sort == "price"
											a.btn.btn-primary(href="/sort?sort=price", color='#ffffff', id="price", name="price", value="Price", disabled) Price
											a.btn.btn-primary(href="/sort?sort=duration", color='#ffffff', id="duration", name="duration", value="Traval Time", class="inactive") Traval Time
										else if sort == "duration"
											a.btn.btn-primary(href="/sort?sort=price", color='#ffffff', id="price", name="price", value="Price", class="inactive") Price
											a.btn.btn-primary(href="/sort?sort=duration", color='#ffffff', id="duration", name="duration", value="Traval Time", disabled) Traval Time

								.collapse.navbar-collapse(id='Tags')
									ul.nav.navbar-nav
										li(type='text', class='active')
										li(type='text', class='form', control='')
										li(type='text', class='form')
										li(type='text', class='form')
		
		.div
			if RoundTrip
				.col-md-2
					.btn.btn-primary(value="Reserve", class="disabled") Reserve
				.col-md-5
					.container-fluid
						.panel.panel-default
							.panel-heading Selected Departing Trip
							.panel-body #{selectDepart}
				.col-md-5
					.container-fluid
						.panel.panel-default
							.panel-heading Selected Returning Trip
							.panel-body #{selectReturn}

			else
				.col-md-2
					.btn.btn-primary(value="Reserve") Reserve
				.col-md-8
					.container-fluid
						.panel.panel-default
							.panel-heading Selected Departing Trip
							.panel-body #{selectDepart}
				.col-md-2
					p
		.col-md-12
		.div
			.container-fuild
				.col-md-2
					.checkbox
						label
							input(type="checkbox", value="Direct Flight", class="active")
							| All

					.checkbox
						label
							input(type="checkbox", value="Direct Flight")
							| Direct Flight
								
					.checkbox
						label
							input(type="checkbox", value="Two legs")
							| Two legs
								
					.checkbox
						label
							input(type="checkbox", value="Three legs")
							| Three legs
				if RoundTrip
					.col-md-5
						table(style="table-layout: fixed;")
							tr(class="search-result-panel_depart")
								td(style="padding-left: 1px")
									table.table
										thead
											tr
												th Depart
												th Destination
												th Price
												th Flight Schedule
												th 
										for item in resultList_depart
											tbody
												tr
													td #{item.info.depart}   
													td #{item.info.arrival}
													td 
														.p Coach Price: $#{item.info.price_coach}
														.p Firstclass Price: $#{item.info.price_firstclass}
													td 
														.p #{item.info.departTime}  -  #{item.info.arrivalTime}
														.p Duration: #{item.info.flightTime} Minutes
													td.text-center
														.btn-group-vertical
															a.btn.btn-link(href='/detail?id=#{item.tripid}&type=depart&sort=#{sort}',name="getDetails", role="button", aria-pressed='true', value="Details", type="submit") Details
														
															a.btn.btn-link(href="/result?tripid=#{item.tripid}&type=depart&sort=#{sort}", name="select", role="button", aria-pressed='true', value="Select", type="submit") Select
										

										else
											li No result found.
					.col-md-5
						table(style="table-layout: fixed;")
							tr(class="search-result-panel_return")
								td(style="padding-left: 1px;")
									table.table
										thead
											tr
												th Depart
												th Destination
												th Price
												th Flight Schedule
												th
										for item in resultList_return
											tbody
												tr
													td #{item.info.depart}   
													td #{item.info.arrival}
													td 
														.p Coach Price: $#{item.info.price_coach}
														.p Firstclass Price: $#{item.info.price_firstclass}
													td 
														.p #{item.info.departTime}  -  #{item.info.arrivalTime}
														.p Duration: #{item.info.flightTime} Minutes
													td.text-center
														.btn-group-vertical
															a.btn.btn-link(href='/detail?id=#{item.tripid}&type=return&sort=#{sort}',name="getDetails", role="button", aria-pressed='true', value="Details", type="submit") Details
															a.btn.btn-link(href="/result?tripid=#{item.tripid}&type=return&sort=#{sort}",name="select", role="button", aria-pressed='true', value="Select", type="submit") Select
										

										else
											li No result found.

				else
					.col-md-8
						table(style="table-layout: fixed;")
							tr(class="search-result-panel")
								td(style="padding-left: 0 px; width: 1000px")
									table.table
										thead
											tr
												th Depart
												th Destination
												th Price
												th Flight Schedule
												th
										for item in resultList_depart
											tbody
												tr
													td #{item.info.depart}   
													td #{item.info.arrival}
													td 
														.p Coach Price: $#{item.info.price_coach}
														.p Firstclass Price: $#{item.info.price_firstclass}
													td 
														.p #{item.info.departTime}  -  #{item.info.arrivalTime}
														.p Duration: #{item.info.flightTime} Minutes
													td.text-center
														.btn-group-vertical
															a.btn.btn-link(href='/detail?id=#{item.tripid}&type=depart&sort=#{sort}',name="getDetails", role="button", aria-pressed='true', value="Details", type="submit") Details
															a.btn.btn-link(href="/result?tripid=#{item.tripid}&type=depart&sort=#{sort}", name="select", role="button", aria-pressed='true', value="Select", type="submit") Select

										else
											li No result found.
				.col-md-2